[Unit]
Description=Run factorio server updates for %i
Wants=network-online.target
After=network-online.target

[Service]
User=factorio
Type=oneshot
ExecStart=/usr/bin/osha %i
